absl-py
accelerate==0.33.0
addict==2.4.0
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
aura-sr==0.0.4
Babel
backcall
basicsr==1.4.2
beautifulsoup4
bleach
blinker==1.8.2
Bottleneck
Brotli
cached-property
certifi
cffi
charset-normalizer
click==8.1.7
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
diffusers @ git+https://github.com/huggingface/diffusers.git@d8a16635f47ac455abd61879bcc6be32dfeaa561
einops==0.8.0
entrypoints
exceptiongroup
executing
facexlib==0.3.0
fastjsonschema
file.utils==0.0.1
filelock
filterpy==1.4.5
Flask==3.0.3
fonttools
fqdn
fsspec==2024.6.1
future==1.0.0
gfpgan==1.3.8
gmpy2
grpcio==1.66.1
gunicorn==23.0.0
h11
h2
h5py
hpack==4.0.0
httpcore
httpx
huggingface-hub==0.24.6
hyperframe
idna
imgproc==0.0.2.1
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets==8.1.5
isoduration
itsdangerous==2.2.0
jedi
Jinja2
joblib==1.4.2
json5
jsonpointer==2.0
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets==3.0.13
keras
Keras-Preprocessing
kiwisolver
llvmlite==0.43.0
lmdb==1.5.1
Markdown==3.7
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
ml-dtypes
mpmath
namex
natsort==8.4.0
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook_shim
numba==0.60.0
numexpr
numpy
opencv-python==4.10.0.84
optree
overrides
packaging
pandas
pandocfilters
parso
pickleshare
pillow
pkgutil_resolve_name
platformdirs
ply==3.11
pooch
prometheus_client
prompt_toolkit
protobuf==5.28.0
psutil
pure_eval
py-cpuinfo==9.0.0
pycparser
pydantic_core==2.20.1
Pygments
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
pytesseract==0.3.13
python-dateutil
python-json-logger
pytz
pywin32==305.1
pywinpty
PyYAML
pyzmq
-e git+https://github.com/xinntao/Real-ESRGAN.git@a4abfb2979a7bbff3f69f58f58ae324608821e27#egg=realesrgan
referencing
regex==2024.7.24
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.10.1
seaborn==0.13.2
Send2Trash
sip
six
sniffio
soupsieve
stack-data
sympy
tb-nightly==2.18.0a20240828
tensorboard-data-server==0.7.2
termcolor==1.1.0
terminado
threadpoolctl==3.5.0
tifffile==2024.8.28
tinycss2
tokenizers==0.19.1
tomli
torch==2.4.1
torchaudio==2.4.1
torchsummary==1.5.1
torchvision==0.19.1
tornado
tqdm==4.66.5
traitlets
transformers==4.44.2
types-python-dateutil
typing-utils
typing_extensions
tzdata
ultralytics==8.2.82
ultralytics-thop==2.0.5
unicodedata2
uri-template
urllib3
waitress==3.0.0
wcwidth
webcolors
webencodings
websocket-client
Werkzeug==3.0.4
widgetsnbextension==4.0.13
win-inet-pton
yapf==0.40.2
zipp
